#users tr, #users td, #users th {
    border: 1px solid;
}

#users {
    width: 100%;
    border-collapse: collapse;
}

table {
    margin-top: 5px;
}

#no-data {
    width: 100%;
    text-align: center;
}

#func-buttons {
    display: flex;
    flex-direction: row;
}

input:invalid {
    background-color: #ffdfdf;
}

input, input:valid {
    background-color: transparent;
}

.required {
    color: red;
}

#hint {
    color: gray;
}